@import "../Vars.scss";

button {
  background: white;
  color: #185f7f;
  border-radius: 5px;
  outline: none;
  border: 1px solid #185f7f;
  font-family: $Poppins;
  font-weight: $Medium;
  font-size: vw(17, 1920);
  line-height: vw(26, 1920);
  height: vw(50, 1920);
  width: vw(169, 1920);
  cursor: pointer;
  transition: all 0.8s ease;
  &.active,
  &:hover {
    background: linear-gradient(248deg, #1b92c8 0%, #2c3636 100%) 0% 0%
      no-repeat padding-box;
    color: white;
    border: none;
  }
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

//----------------------------------------------------------------------------------------------------------------------------------------------------------------
//------------------------------------------------------------Media Query-----------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------------------------------
@media (max-width: $escritorio_peq) {
  button {
    width: vw(300, 1920);
    height: vw(80, 1920);
    font-size: vw(28, 1920);
  }
}

@media (max-width: $movil_gra) {
  button {
    width: vw(350, 1920);
    height: vw(90, 1920);
    font-size: vw(28, 1920);
  }
}

@media (max-width: $movil_med) {
  button {
    width: vw(400, 1920);
    height: vw(110, 1920);
    font-size: vw(38, 1920);
  }
}
