@import "../Vars.scss";

$level2-height: vw(460, 1920);
$level2-width: vw(400, 1920);
$level1-height: vw(500, 1920);
$level1-width: vw(400, 1920);
$level0-height: vw(530, 1920);
$level0-width: vw(800, 1920);

$level-2-left: calc(100% - 10vw);
$level-1-left: calc(100% - 20vw);
$level0-left: calc(100% - 70vw);
$level1-left: calc(100% - 85vw);
$level2-left: calc(100% - 95vw);

.carousel__container2 {
  position: relative;
  height: vw(600, 1920);
  margin-bottom: vw(80, 1920);
  #carousel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    .arrow {
      position: absolute;
      width: vw(40, 1920);
      height: vw(40, 1920);
      text-align: center;
      font-size: 25px;
      border-radius: 50%;
      cursor: pointer;
      font-size: vw(15, 1920);
      color: #000000;
      line-height: vw(40, 1920);
      z-index: 1000;
      bottom: 0;
    }
    .arrow-left {
      right: calc(100% - 48vw);
    }
    .arrow-right {
      left: calc(100% - 49vw);
    }
    .item {
      display: grid;
      grid-template-rows: 40% 60%;
      text-align: center;
      font-size: 40px;
      position: absolute;
      transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s,
        background-color 1s;
      border-radius: 8px;
      .info {
        display: grid;
        grid-template-rows: 60% 20% 20%;
        .quole {
          margin-top: vw(30, 1920);
          display: flex;
          justify-content: space-around;
          .text {
            width: vw(600, 1920);
            font-family: $Montserrat;
            font-size: vw(24, 1920);
            font-weight: $Regular;
            color: #333333;
          }
          .titel {
            font-family: $Montserrat;
            font-size: vw(19, 1920);
            font-weight: $Medium;
            color: #222222;
          }
          .position {
            font-family: $Montserrat;
            font-size: vw(17, 1920);
            font-weight: $Regular;
            color: #222222;
          }
        }
      }
      img {
        margin: 0 auto;
        width: vw(190, 1920);
        height: vw(192, 1920);
        border-radius: 50%;
      }
      .item__title {
        padding: 0 vw(50, 1920);
        font-family: $Poppins;
        font-size: 24px;
        font-weight: $Semi_bold;
        margin-top: vw(20, 1920);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
      }
      .item__descripcion,
      p {
        text-align: center;
        font-family: $Poppins;
        font-weight: $Regular;
        font-size: vw(15, 1920);
      }
      .more {
        color: #1b92c8;
      }
      .item__descripcion {
        color: #555555;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0 vw(10, 1920);
        height: 40px;
      }
    }
    .level-2 {
      height: vw(80, 1920);
      width: vw(80, 1920);
      left: $level-2-left;
      bottom: vw(180, 1920);
      img {
        width: vw(74, 1920);
        height: vw(76, 1920);
      }
      .info {
        display: none;
      }
    }

    .level-1 {
      height: vw(120, 1920);
      width: vw(120, 1920);
      left: $level-1-left;
      top: vw(60, 1920);
      img {
        width: vw(113, 1920);
        height: vw(116, 1920);
      }
      .info {
        display: none;
      }
    }

    .level0 {
      height: $level0-height;
      width: $level0-width;
      left: $level0-left;
      z-index: 9999999;
    }

    .level1 {
      height: vw(115, 1920);
      width: vw(115, 1920);
      left: $level1-left;
      bottom: vw(80, 1920);
      img {
        width: vw(112, 1920);
        height: vw(114, 1920);
      }
      .info {
        display: none;
      }
    }

    .level2 {
      height: vw(80, 1920);
      width: vw(80, 1920);
      left: $level2-left;
      top: vw(140, 1920);
      img {
        width: vw(74, 1920);
        height: vw(76, 1920);
      }
      .info {
        display: none;
      }
    }

    .left-enter {
      opacity: 0;
      left: $level2-left - $level2-width;
      .info {
        display: none;
      }
    }

    .left-enter.left-enter-active {
      opacity: 1;
      left: $level2-left;
      transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
        line-height 1s;
    }

    .left-leave {
      opacity: 1;
      left: $level-2-left;
    }

    .left-leave.left-leave-active {
      left: $level-2-left + $level2-width + 20;
      opacity: 0;
      transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
        line-height 1s;
    }

    .right-enter {
      opacity: 0;
      left: $level-2-left + $level2-width;
    }

    .right-enter.right-enter-active {
      left: $level-2-left;
      opacity: 1;
      transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
        line-height 1s;
    }

    .right-leave {
      left: $level2-left;
      opacity: 1;
    }

    .right-leave.right-leave-active {
      left: $level2-left - $level2-width;
      opacity: 0;
      transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
        line-height 1s;
    }

    .noselect {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}
